* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 0 0 0 10px;
    height: 80px;
}

.header img {
    width: 200px;
    height: 70px;
    margin-top: 5px;

}

.campo {
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo label {
    padding-right: 10px;
    color: black;
}

.campo span {
    padding-right: 0;
}

.campo textarea {
  resize: none;
  width: 300px;
  height: 250px;

}

.campo input[type="text"],
.campo input[type="email"],
.campo textarea {
    padding: 0.2em;
    border: 1px solid blue;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    display: block;
    height: 35px;
}

.header span {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin-top: auto;
    font-size: 48px;
    color: blue;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: azure;

}

.border {
    border: 1px solid red;
}

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 200px;
    align-items: self-start;
    margin: 80px 0px 0px 10px;
    padding: 0px 10px 60px 10px;
    border-right: 1px solid #ccc;
}

.sidebar button {
    height: 50px;
    background: transparent;
    border: 0;
    font-family: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
    transition: all 0.3s;
}

.sidebar button:hover>a {
    background: rgba(0, 0, 0, 0.08);
}

.sidebar button>a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 12px;
    padding: 0 12px 0 0px;
    color: black;
}

.sidebar button a>span {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 12px;
    padding: 0 12px 0 0px;
}

.maincontent {
    display: flex;
    width: 80%;
    margin: 20px 0px 0px 210px;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}

.container {
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 80px;
}


.container img {
    width: 700px;
    width: 400px;
}

.container button>a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 12px;
    padding: 0 12px 0 0px;
    color: black;
}
.container button a:hover {
    background: rgba(60,  15, 255, 0.3);
}

.container button {
    background: transparent;
    border: 0;
}

.container button span>img {
    width: 50px;
}

.container span {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 0 16px 0 12px;
}

.tableCalendar {
    width: 100%;
    border: none;
}

.tableCalendar thead {
    background: black;
    color: white;
}

.tableCalendar tbody {
    color: black;
}

.tableCalendar tbody tr:nth-child(even) th {
    background-color: #ccc;
}

.tableCalendar tr:hover>th {
    background: rgba(60,  15, 255, 0.3);
}

footer {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 80%;
    position: fixed;
    margin-left: 210px;
    align-content: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    bottom: 0;
    gap: 30px;

}

footer button {
    background: transparent;
    border: 0;
}

footer button>a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 12px;
    padding: 0 12px 0 0px;
    color: black;
}

footer button:hover>a {
    background: rgba(60,  15, 255, 0.3);
}

footer span {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 0 16px 0 12px;
}

.formContent button {
    cursor: pointer;
}


.formContent button:hover {
    background: #ccc;
}